@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap');

.track-box {
    border: 1px solid grey;
}

.like-toggle {
    outline:none;
    box-shadow:none;
    border: none;
    width: 40px;
    font-size: 1.3em;
    border-radius: 100px;
  }

.like-active {  
  color: #bb0826;
  outline:none;
  box-shadow:none;
  border: none;
}

ul {
  list-style-type: none;
}

a:link { 
  color: #000000; 
  text-decoration: none}

form.comment-form {
  padding: 5px;
  margin: 5px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
form.comment-form>textarea {
    width: 100%;
}

.join-btn {
  border: none;
  background-color: transparent;
  font-weight: bold;
}

img.book-img {
  float: left; 
  width: 100px; 
  height: 150px;
}

.can-hear-now {
  font-style: italic;
  color:#bb0826;
}

nav.navbar {
  background-color: #94a4b2;
}

.main-img {
  float: right; 
  height: auto;
  width: 100%;
  max-width: 720px;
}

#main-logo {
  font-size: 100px;
  font-weight: bold;
  font-family:'Bodoni Moda', serif;  
  text-align: center;
}

.main-link {
  font-size: 20px;
  font-weight: bold;
  font-family:'Bodoni Moda', serif;
  border: 1px solid white;
  border-radius: 50%;
  margin-bottom: 30px;
  text-align: center;
  color: black;
}

#search-btn {
  color: black;
}