@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Martel&display=swap');

.body {
  margin-left: 10px;
}

body {  
  font-family: 'Martel', serif; 
  background-image: url("imgs/yep.jpg"); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

#add-req-link {  
  color: white;
}

.like-toggle {
    outline:none;
    box-shadow:none;
    border: none;
    width: 40px;
    font-size: 1.3em;
    border-radius: 100px;
  }

.like-active {  
  color: #b60274;
  outline:none;
  box-shadow:none;
  border: none;
}

.like-toggle:focus {
  outline: none;
}

ul {
  list-style-type: none;
}

a { 
  color: #000000; 
  text-decoration: none}

a:hover {
  text-decoration: none;
} 

form.comment-form {
  padding: 5px;
  margin: 5px;
  height: 150px;
  display: flex;
  flex-direction: column;
}
  
form.comment-form>textarea {
    width: 100%;
}

.join-btn {
  border: none;
  background-color: transparent;
  font-weight: bold;
}

img.book-img {
  float: left; 
  width: 100px; 
  height: 150px;
  margin: 5px;
}

.can-hear-now {
  font-style: italic;
  color:#ca4298;
}

nav.navbar {
  background-color: #ddc8dd;
  margin-bottom: 30px;
  background-image: url("imgs/yep.jpg"); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: 'Amatic SC', cursive; 
  font-size: 30px;
  font-weight: bold;
}

.navbar-brand {
  font-size: 40px
}

#main-page {
  font-family: 'Amatic SC', cursive;  
}

#main-logo {
  font-size: 100px;
  font-weight: bold;
  text-align: center;
}

.main-link {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  color: black;  
}

#search-btn {
  color: black;
  border-color: grey;
}

.book-tracks {
  display: flex;
  flex-direction: column;
}

.btn-primary {
  background-color: #547796;
  border-color: #547796;
  margin-top: 5px;
}

.control-group {
  margin-bottom: 10px;
}

.tracklist {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center; 
  justify-content: center; 
  overflow: auto; 
}

.track-box {
  margin: 20px;
  padding: 10px;
}

.track-box-track {
  text-align: center;
  line-height: 40px;
}

#request-body {
  text-align: center;
}

#claims {
  margin-top: 50px;
}

#see-all-req {
  padding: 5px;
  border: 1px solid grey;
}

#profile-title {
  margin: 20px;
}

#profile-foot {
  margin: 20px;
  text-align: right;
}

#book-page {
  text-align: center;
}

#book-page-tracks {
  margin-top: 40px;
}

.book-list {
  text-align: center; 
  line-height: 40px;
}