{% extends "books/layout.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block script %}
    <script src="{% static 'books/index.js' %}"></script>
{% endblock %}

{% block title %} Claim {% endblock %}

{% block body %}
<h1>What book do you wanna hear?</h1>


    {% if user.is_authenticated %}

    <div>
        <form action="{% url 'claim' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-primary" type="submit" value="Request">
        </form>
    </div>


    {% else %}
     <h5>You need to <a href="{% url 'login' %}"> Log in</a> to make requests.</h5>
    {% endif %}

    
    
{% endblock %}
