{% extends "books/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'books/index.js' %}"></script>
{% endblock %}

{% block body %}


<div id="main-page">
    <div id="main-logo">
        I read U
    </div>
    <div class="main-link">
        <a href="{% url 'tracks' %}">Listen</a>
    </div>
    <div class="main-link">
        <a href="{% url 'create' %}">Add your record</a>
    </div>
    {% if not user.is_authenticated %}
        <div class="main-link">
            <a href="{% url 'login' %}">Log In</a>
        </div>
        <div class="main-link">
            <a href="{% url 'register' %}">Register</a>
        </div>
    {% endif %}
    
</div>



{% endblock %}
