{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}I read U{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'books/styles.css' %}" rel="stylesheet">

        {% block script %}
        {% endblock %}
    </head>
   
    <body>

        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="{% url 'index' %}">I read U</a>          
            
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">                
                    <a class="nav-link" href="{% url 'tracks' %}">All tracks</a>
                </li>
                <li class="nav-item">                
                    <a class="nav-link" href="{% url 'create' %}">Add your track</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'claim' %}">Request book</a>
                </li>

                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a data-userid="{{ user.id }}" id="profile-link" class="nav-link" href="{% url 'profile' user.id %}">Profile</a>                        
                    </li>                
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log out</a>
                    </li>
                {% endif %}

                {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log in</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
            </ul>
            <form action="{% url 'search' %}" class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search book" aria-label="Search" name="q">
                <button id="search-btn" class="btn" type="submit">Search</button>
            </form>            
        </nav>
        
        <div class="body">
            {% block body %}
            {% endblock %}
        </div> 
    
    </body>
</html>