{% extends "books/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'books/index.js' %}"></script>
{% endblock %}

{% block title %} Requested Books {% endblock %}

{% block body %}

<h1>Requested books</h1>

<ul>
    {% for book in claims %}
        <li>
            <a href="{% url 'book' book.id %}">{{ book.author }} - {{ book.title }}. Waiting by {{ book.count_claimants }} user(s).</a>

            {% if user.is_authenticated %}
                {% if user in book.claimants.all %}
                    <span style="color:rgba(145, 2, 240, 0.938)" data-status="joined" data-id="{{ book.id }}">In your waiting list</span>
                {% else %}
                    <button onclick ="joinRequest(this.dataset.id)" class="join-btn" data-status="not-joined" data-id="{{ book.id }}">Join awaiting</button>
                {% endif %}
            {% endif %}

            {% if book in read %}
                <span class="can-hear-now">You can listen it now!</span> 
            {% endif %}       
        </li> 
    {% empty %}
        <li>No claimed books yet.</li>
    {% endfor %}
    
    <a id="add-req-link" class="btn btn-primary" href="{% url 'claim' %}">Add your own request</a>

</ul>



{% endblock %}